#tabla{
	margin:auto;
}

table{
	background-color: #fff;
	width: 600px;
	text-align: left;
}

th, td{
	border:solid 1px black;
	padding: 10px;
}

thead{
	background-color: #EF5240;
	border-bottom: ;
}

